@use "./variables" as *;

footer {
  background-color: #FFFFFF;
}

.footerText {
  padding: 20px 0;
}

.junoLink, .footerText {
  display: flex;
  justify-content: center;
  font-family: $bodyText;
  font-size: 2rem !important; //SASS would not allow changing of this property otherwise 
  text-align: center; 
  color: #000000;
}

