@use "./variables" as *;


//NOTE: FOR SOME REASON FONT SIZES AND SOME ELEMENTS COULD NOT BE RESIZED DUE TO A SASS ERROR. THE !IMPORTANT WORKAROUND WAS USED TO MEET THE MVP OF THIS ASSIGNMENT BY DEADLINE. 

@media (max-width: 1000px) {
 
  form {
    width: 100%;
  }

  .inputBar {
    flex-direction: column;
    width: 100%;
    overflow: auto;
  }

  .addressEntry {
    width: 100%;  
  }

  #borough {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0; 
    text-align: center;
  }

  .submit {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;

    img {
      display: none;
    }
  }

  .search {
    display: flex !important;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
  }
  
  h1 {
    font-size: 5rem !important; 
  }

  h3 {
    font-size: 2rem !important; 
  }
  
  .ratFacts, .aboutApp {
    font-size: 3rem !important; 
  }
}

@media (max-width: 780px) {

  .mainTextContainer {
    margin-top: 50px;
  }

  form input::placeholder, select, option {
    font-size: 2rem !important;
  }

  input {
    font-size: 2rem !important;
    padding: 0 5px !important;
  }

  h1 {
    font-size: 3.5rem !important; 
    line-height: 1rem !important;
  }

  .h1Span {
    font-size:  1.6rem !important;
    line-height: 2.3rem !important;
  }

  h3, p {
    font-size: 1.8rem !important; 
  }
  
  .ratFacts, .aboutApp {
    font-size: 2.8rem !important; 
    line-height: 2.6rem !important; 
  }

}

@media (max-width: 680px) {

  form input::placeholder, select, option {
    font-size: 1.8rem !important;
  }

  input {
    font-size: 1.8rem !important;
  }
  
  h1 {
    font-size: 3.5rem !important; 
    line-height: 1rem !important;
  }

  .h1Span {
    font-size:  1.6rem !important;
    line-height: 2rem !important;
    padding: 0 20px; 
  }

  .carousel  {
    margin-bottom: 50px !important; 
  }

  h2 {
    font-size: 3rem !important;
  }

  h3 {
    font-size: 1.3rem !important; 
  }
  
  .ratFacts, .aboutApp {
    font-size: 2rem !important; 
    line-height: 2.3rem !important; 
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
  
@media (max-width: 485px) {
  form input::placeholder, select, option {
    font-size: 1.5rem !important;
  }

  input {
    font-size: 1.5rem !important;
  }
  
  h1 {
    font-size: 2.8rem !important; 
    line-height: 1rem !important;
  }

  .h1Span {
    font-size:  1.4rem !important;
    line-height: 2.3rem !important;
    padding: 0 20px !important; 
  }

  .carousel  {
    margin-bottom: 50px !important; 
  }

  h2 {
    font-size: 3rem !important;
  }

  h3 {
    font-size: 1.3rem !important; 
  }
  
  .ratFacts, .aboutApp {
    font-size: 2rem !important; 
    line-height: 2.3rem !important; 
  }
}

@media (max-width: 435px) {
  h1 {
    font-size: 2.1rem !important; 
  }

  .h1Span {
    font-size:  1rem !important;
    line-height: 1.5rem !important;
    padding: 0 20px !important; 
  }

  #houseNumber {
    width: 30%  !important;
  }
  
  #streetName {
    width: 70% !important;
  }

  .recordDetails {
    font-size: 1rem !important;
  }

  .labels {
    padding-right: 5px !important;
  }
  
  .information {
    padding-left: 5px !important;
  }

  h3 {
    font-size: 0.9rem !important; 
  }
}